:root {
  --primary-color: #ffc300;
  --text-color: #333;
  --background-color: #f4f4f4;
  --card-background: white;
  --input-border: #ccc;
  --hover-color: #e6b000;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
  width: 300px;
}

h1 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

h2 {
  color: #666;
  font-size: 18px;
  margin-bottom: 15px;
}

#glucoseData, #credentialsForm {
  background-color: var(--card-background);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

#glucoseLevel {
  font-size: 28px;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  width: 100%;
  margin: 15px 0;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--hover-color);
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-size: 14px;
}

.threshold-inputs {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.threshold-inputs > div {
  flex: 1;
}

#debugInfo {
  font-size: 12px;
  color: #666;
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
  /*display: none; */
}

.hidden {
  display: none;
}